

$spacer: 1rem;
$spacers: (
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
    6: $spacer * 6,
    10: $spacer * 10,
);

$btn-border-radius: 0;
$btn-border-radius-sm: $btn-border-radius;
$btn-border-radius-lg: 0;
$btn-padding-x-lg: 30px;
$btn-padding-y-lg: 10px;
$btn-font-size-lg: 1.4rem;
$btn-font-weight-lg: 700;
$btn-font-weight: 700;

$btn-padding-y-sm: 20px;
$btn-padding-x-sm: 15px;
$btn-font-size-sm: 1.1rem;
$btn-font-weight-sm: 700;

$box-shadow-lg: 0 2rem 3rem rgba(#000, .175);





.btn {
text-transform: uppercase;
letter-spacing: 1px;
font-style: italic;
transition: all 1.3s ease;
color: #fff;

&:hover {
transition: all 1.3s ease;
background-color: var(--bs-primary);
}

&.btn-primary {
    background-color: var(--bs-primary);
    border-radius: 0;
    border-color: var(--bs-primary);
    transition: all 1.3s ease;
    letter-spacing: 0.5px;
    &:hover {
            transition: all 1.3s ease;
            background-color: var(--bs-primary);
            border-color: var(--bs-primary);
            filter: brightness(0.95);
            letter-spacing: 1.5px;
        }
}

&.btn-secondary {
    background-color: var(--bs-secondary);
    border-radius: 0;
    border-color: var(--bs-secondary);
    transition: all 1.3s ease;
    letter-spacing: 0.5px;
    &:hover {
            transition: all 1.3s ease;
            background-color: var(--bs-secondary);
            border-color: var(--bs-secondary);
            filter: brightness(0.95);
            letter-spacing: 1.5px;
        }
}

&.btn-sm {
    letter-spacing: 3px;
}

&.btn-underline-light {
    padding: 5px 0;
        border: none;
        border-bottom-width: medium;
        border-bottom-style: none;
        border-bottom-color: currentcolor;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        border-bottom: 1px solid #fff;
        width: auto;
        text-align: left;
        letter-spacing: 0px;
        transition: all 1.3s ease;

        &:hover {
            color: #fff;
            letter-spacing: 1.5px;
            transition: all 1.3s ease;
        }
}
}

.wp-block-button__link {
    text-transform: uppercase;
        font-style: italic;
        color: #fff;
        background-color: var(--bs-primary) !important;
            border-radius: 0;
            border-color: var(--bs-primary) !important;
            transition: all 1.3s ease;
            letter-spacing: 0.5px;
            padding-left: $btn-padding-x-lg;
            padding-right: $btn-padding-x-lg;
            padding-top: $btn-padding-y-lg;
            padding-bottom: $btn-padding-y-lg;
            font-size: $btn-font-size-lg;
            &:hover {
                    transition: all 1.3s ease;
                    background-color: var(--bs-primary) !important;
                    border-color: var(--bs-primary) !important;
                    filter: brightness(0.95);
                    letter-spacing: 1.5px;
                }
}

:root {
    --woocommerce: #ff8154;
    --wc-green: #7ad03a;
    --wc-red: #a00;
    --wc-orange: #ffba00;
    --wc-blue: #2ea2cc;
    --wc-primary: #ff8154;
    --wc-primary-text: #fcfbfe;
    --wc-secondary: #e9e6ed;
    --wc-secondary-text: #515151;
    --wc-highlight: #958e09;
    --wc-highligh-text: white;
    --wc-content-bg: #fff;
    --wc-subtext: #767676;
    --bs-blue:var(--bs-primary);
}

.woocommerce button.button.alt {
    background-color: var(--bs-primary);
    border-radius: 0;
    text-transform: uppercase;
    transition: all 1.3s ease;

    &:hover {
            transition: all 1.3s ease;
            background-color: var(--bs-primary);
            filter: brightness(0.95);
            letter-spacing: 1.5px;
        }
}

// body {
//     main#page {
//         overflow: hidden;
//     }
// }

