// stylelint-disable value-keyword-case
// $font-family-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
// $font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
// // stylelint-enable value-keyword-case
// $font-family-base: var(--#{$prefix}font-sans-serif);
// $font-family-code: var(--#{$prefix}font-monospace);

// $font-size-root affects the value of `rem`, which is used for as well font sizes, paddings, and margins
// $font-size-base affects the font size of the body text
$font-size-root: null;
$font-size-base: 1.3rem; // Assumes the browser default, typically `16px`
$font-size-sm: $font-size-base * .875;
$font-size-lg: $font-size-base * 1.25;

$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 500;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 800;
$font-weight-bolder: bolder;

$font-weight-base: $font-weight-normal;

$display-font-sizes: (
    1: 5.1rem,
    2: 2.5rem,
    3: 4.0rem,
    4: 3.5rem,
    5: 3rem,
    6: 2.5rem
);





$headings-margin-bottom: $spacer * .5;
$headings-font-family: null;
$headings-font-style: null;
$headings-font-weight: 700;
$headings-line-height: 1;
$headings-color: var(--bs-primary);

$display-font-family: null;
$display-font-style: null;
$display-font-weight: 700;
$display-line-height: $headings-line-height;

$lead-font-size: $font-size-base * 1.05;
$lead-font-weight: 600;

$line-height-base: 1.5;
$line-height-sm: 1.25;
$line-height-lg: 2;

$h1-font-size: $font-size-base * 4.1;
$h2-font-size: $font-size-base * 2.6;
$h3-font-size: $font-size-base * 1.1;
$h4-font-size: $font-size-base * 1.2;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$font-sizes: (
    1: $h1-font-size,
    2: $h2-font-size,
    3: $h3-font-size,
    4: $h4-font-size,
    5: $h5-font-size,
    6: $h6-font-size
);

h1 {
    font-weight: 900 !important;
}